In [1]:
%load_ext autoreload
%autoreload 2

import logging
from dotenv import load_dotenv

logging.basicConfig(level=logging.INFO)
load_dotenv()

True

In [ ]:
from projects.pltv.constants import (
    SCHEMA_NAME, 
)
schema_name = SCHEMA_NAME
schema_name

In [2]:
from projects.pltv.session import get_session
from projects.pltv.feature_store import get_dataset_df

session = get_session()
df = get_dataset_df(session).to_pandas()
df

INFO:snowflake.snowpark:AST state has not been set explicitly. Defaulting to ast_enabled = True.
INFO:src.connection:Creating session from private key
INFO:snowflake.connector.connection:Snowflake Connector for Python Version: 3.18.0, Python Version: 3.10.18, Platform: macOS-26.1-arm64-arm-64bit
INFO:snowflake.connector.connection:Connecting to GLOBAL Snowflake domain
INFO:snowflake.snowpark.session:Snowpark Session information:
"version" : 1.42.0,
"python.version" : 3.10.18,
"python.connector.version" : 3.18.0,
"python.connector.session.id" : 23301333975474,
"os.name" : Darwin

INFO:root:Using database ML_LAYER
INFO:root:Creating schema PLTV
INFO:root:Using schema PLTV
INFO:src.connection:Reinstating connections from active session
INFO:snowflake.ml.feature_store.feature_store:Successfully connected to feature store: ML_LAYER.PLTV_FS.
INFO:src.services.feature_store_service:Converting TIMESTAMP_TZ column 'CUSTOMER_CREATED' to TIMESTAMP
INFO:src.services.feature_store_service:Converting TIMESTAMP_TZ column 'GROSS_ADD_CREATED' to TIMESTAMP
INFO:src.services.feature_store_service:Converting TIMESTAMP_TZ column 'SUB_CREATED' to TIMESTAMP
INFO:src.services.feature_store_service:Spine PLTV SPINE created
/Users/donatodiferdinando/Documents/GitHub/ml-layer-v2/.venv/lib/python3.10/site-packages/snowflake/ml/feature_store/feature_store.py:189: UserWarning: Entity PLTV_ENTITY already exists. Skip registration.
  return f(self, *args, **kargs)
INFO:src.services.feature_store_service:Entity PLTV_ENTITY created
INFO:snowflake.ml.feature_store.feature_store:Registered FeatureView PLTV_REBILL_ACTIVITIES_FV/V1 successfully.
INFO:snowflake.ml.feature_store.feature_store:Registered FeatureView PLTV_BILLING_ACTIVITIES_FV/V1 successfully.
INFO:snowflake.ml.feature_store.feature_store:Using the sequential join method with 2 feature views
WARNING:root:A Column with DATE or TIMESTAMP data type detected. It might not be able to get converted to tensors. Please consider handle it in feature engineering.

,DATE_DAY,CUSTOMER_CREATED,CUSTOMER_ID,GROSS_ADD_CREATED,GROSS_ADD_ID,SUB_TREE_ID,SUB_TREE_TYPE,SUB_CREATED,STATUS,LAST_FAILURE_CODE,...,CYCLE,FAILED_REBILLS,NET_BILLINGS_TO_DATE,NET_BILLINGS_NEXT_30_DAYS,NET_BILLINGS_NEXT_60_DAYS,NET_BILLINGS_NEXT_90_DAYS,NET_BILLINGS_NEXT_180_DAYS,NET_BILLINGS_NEXT_365_DAYS,NET_BILLINGS_NEXT_730_DAYS,NET_BILLINGS_NEXT_1095_DAYS
0,2025-03-18,2024-02-20 14:16:33,191687149,2024-07-14 17:19:06,118692139,119385754,cross,2024-08-05 03:59:49,access,None,...,7,NaN,251.100006,25.110001,125.550003,200.880005,200.880005,200.880005,200.880005,200.880005
1,2024-11-16,2024-02-20 14:16:33,191687149,2024-07-14 17:19:06,118692139,119385754,cross,2024-08-05 03:59:49,access,None,...,3,NaN,150.660004,25.110001,50.220001,75.330002,200.880005,301.320007,301.320007,301.320007
2,2024-12-31,2024-02-20 14:16:33,191687149,2024-07-14 17:19:06,118692139,119385754,cross,2024-08-05 03:59:49,access,None,...,4,NaN,175.770004,25.110001,50.220001,75.330002,276.209991,276.209991,276.209991,276.209991
3,2025-02-12,2024-02-20 14:16:33,191687149,2024-07-14 17:19:06,118692139,119385754,cross,2024-08-05 03:59:49,access,None,...,6,NaN,225.990005,25.110001,50.220001,100.440002,225.990005,225.990005,225.990005,225.990005
4,2024-10-16,2024-02-20 14:16:33,191687149,2024-07-14 17:19:06,118692139,119385754,cross,2024-08-05 03:59:49,access,None,...,2,NaN,125.550003,25.110001,50.220001,75.330002,150.660004,326.429993,326.429993,326.429993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,2024-08-15,2024-02-20 14:16:33,191687149,2024-07-14 17:19:06,118692139,119385754,cross,2024-08-05 03:59:49,access,None,...,0,NaN,25.110001,75.330002,100.440002,125.550003,200.880005,426.869995,426.869995,426.869995
293,2025-02-13,2024-02-20 14:16:33,191687149,2024-07-14 17:19:06,118692139,119385754,cross,2024-08-05 03:59:49,access,None,...,6,NaN,225.990005,25.110001,50.220001,125.550003,225.990005,225.990005,225.990005,225.990005
294,2025-05-04,2024-02-20 14:16:33,191687149,2024-07-14 17:19:06,118692139,119385754,cross,2024-08-05 03:59:49,access,None,...,8,NaN,276.209991,175.770004,175.770004,175.770004,175.770004,175.770004,175.770004,175.770004
295,2025-02-09,2024-02-20 14:16:33,191687149,2024-07-14 17:19:06,118692139,119385754,cross,2024-08-05 03:59:49,access,None,...,6,NaN,225.990005,25.110001,50.220001,75.330002,225.990005,225.990005,225.990005,225.990005
296,2025-04-08,2024-02-20 14:16:33,191687149,2024-07-14 17:19:06,118692139,119385754,cross,2024-08-05 03:59:49,access,None,...,8,NaN,251.100006,50.220001,200.880005,200.880005,200.880005,200.880005,200.880005,200.880005